<!DOCTYPE html>
<html>
  <head>
    <title> Message box </title>></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Enter your message . </h1>
   <form method="POST" action="/submit-form"> 
   <label for="senderName">Name: 
    <input type="text" name="senderName" /> 
    </label><br> 
    <label for="mesage">Message: 
    <input type="text" name="message"  /> 
    <input type="submit"> 
    </form> 
   </body>
</html>
